:root {
    --dark: #222222;
    --darker: #151515;

    --blue: #0073ff;
    --green: #009416;
    --red: #ec2f2f;
    --yellow: #cfe600;

    --grad1: #000000;
    --grad2: #121112;
    --grad3: #2e3436;
    --grad4: #222e2d;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--darker);

    justify-content: center;
    align-items: center;
    text-align: center;
    
    max-width: 99vw;
    max-height: 99vh;
}

#main {
    margin: 0 auto 0 auto;
    
    background: linear-gradient(-45deg, var(--grad1), var(--grad2), var(--grad3), var(--grad4));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    color: white;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    font-family: sans-serif;
    padding: 0px 30px 0px 30px;
    -webkit-box-shadow: set 0px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}

@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#title {
    margin-top: 30px;
}

#header {
    margin-top: -10px;
    margin-bottom: 20px;
}

#inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%; /*todo set new at end*/
}

#nav {
    background-color: var(--tdark);
    width: 20%;
    height: 100%;
    padding: 10px;
}

#nav-list {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navitem {
    margin-bottom: 10px;
    user-select: none;
}

.navitem:hover {
    color: var(--blue);
    cursor: pointer;
}
.test:hover {
    color: var(--green);
}
.game:hover {
    color: var(--red);
}

.navitem:hover:before {
    content: "> ";
}
.navitem:hover:after {
    content: " <";
}

#content {
    background-color: var(--tdarker);
    width: 80%;
    height: 100%;
    padding: 10px;
}

.stuff {
    width: 100%;
    height: 100%;
    max-height: 75vh; /*reszponzív*/
    overflow-y: auto;
    font-size: 20px;
    word-wrap: normal;
    text-align: justify;
    font-family: 'Times New Roman', serif;
    padding-right: 10px;
    overflow-anchor: auto;
}

.bold {
    font-weight: bold;
}

.big {
    font-size: 20px;
}

.bigger {
    font-size: 50px;
}

.hidden {
    display: none;
}

.selected-text {
    color: var(--blue);
    text-decoration: underline;
}
.selected-test {
    color: var(--green);
    text-decoration: underline;
}
.selected-game {
    color: var(--red);
    text-decoration: underline;
}

#img-planes {
    width: 30%;
    float: right;
    padding-left: 10px;
}

#img-little_boy {
    width: 35%;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}
#img-little_boy_inner {
    width: 100%;
}

a {color: var(--yellow);}

#img-hirosima {
    width: 30%;
    margin-top: 10px;
    margin-left: 20px;
    border: 5px solid white;
    float: right;
}

#lb_data {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 1vw;
    float: right;
    width: 30%;
    margin: 20px;
    margin-top: 0px;
    padding: 10px;
}

#lb_img {
    margin: auto;
}

#lb_hr {
    width: 100%;
}

#lb_desc {
    text-align: center;
}